.footerTopBorder
{
	clear:left;
	height: 60px;
	width: 100%;
	
}
.footer
{
	height: 170px;
	padding-bottom: 60px;
	width: 100%;
	clear:left;
	margin-top: 200px;
	background-color: black;
}

.contactUsIcons
{
	width: 30%;
	height: 100px;
	margin-left: 42%;
	margin-top: 60px;
	display: inline-block;
}

.facebook
{
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 8%;
	background-size: cover; 
	background-position: center center;
	background-image: url('/img/facebookIcon.png');
}

.tumbler
{
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 8%;
	background-size: cover; 
	background-position: center center;
	background-image: url('/img/tumbler.png');
}

.twitter
{
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 8%;
	background-size: cover; 
	background-position: center center;
	background-image: url('/img/twittericon.png');
}

@media only screen and (min-device-width: 600px)
{
	.footer
	{
		
		width: 100%;
		margin: auto 0;
		background-color: black;
	}

}


@media only screen and (max-width: 1150px) and (min-width: 400px)
{
	.contactUsIcons
	{
		margin-left: 14%;
	}
}
