h1 {
	margin: 0;
	padding: 0;
}
.logo {
	background-color: #41562f;
	color: #fff;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.linearr {
	width: 200px;
	padding: 5px;
}

