.vigleyLogoContainer
{

	height: 60px;
	width:10%;
	margin: auto;
}

.vigleyLogo
{

	height: 40px;
	width: 100%;
	margin: auto;
	margin-top: 10px;
	padding-top: 16px;
	background-image: url('/img/Vigley.png');
	background-position: center center;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}

.header 
{
	background-color: black;
	color: #fff;
	height: 70px;
	padding-top: 5px;
	text-align: center;
	
}

