<<<<<<< HEAD
img {
	width: 100%;
	height: 100%;
	position: center;
	margin: 0;
	padding: 0;
=======
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
.banner-buttons {
	float: left;
	width: 400px;
	margin-top: 190px;
	margin-left: 15%;
}

.banner-image > img {
	float: left;
	background-size: cover;
	height: 100%;
    vertical-align: top;
}

.banner-image {
    position: relative;
    height: 434px;
	width: auto;
    -webkit-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
    -moz-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
	box-shadow: 0 4px 14px -4px gray;
}

.banner-image:after {
    content: '\A';
    position: absolute;
    height: 100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
}

.banner-right-register {
	float: left;
	display: none;
	padding-top: 1%;
	padding-left: 10%;
}
.banner-right-login {
	float: left;
	display:none;
	padding-top: 2%;
	padding-left: 10%;
}

.banner-right-title {
	margin-left: 122px;
	margin-bottom: 20px;
}

.banner-right-title > h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	color: black;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	padding-top: 28px;
	padding-bottom: 30px;
}

.hide {
	display: none;
}

#login {
	padding: 16px 64px;
	background-color: #161B33;
	color: white;
	border-radius: 4px;
}
#register {
	padding: 16px 54px;
	background-color: #DE0D92;
	color: white;
	border-radius: 4px;
}

.login-button {
	float: right;
	padding: 10px;
	margin-right: 5px;
	border-radius: 2px;
	border: 0px;
	background-color: #114B5F;
	color: white;
}

.login-button:hover {
	background-color: #58818f;
	color: white;
}

.login-left {
	float: left;
	padding-left: 10%;
	padding-top: 1%;
	width: 50%;
	background-color: white;
}

.login-left-title {
	margin-left: 122px;
	margin-bottom: 20px;
}

.login-left-title > h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	color: black;
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    color: #114B5F;

}

input {
	background-color: #114B5F;
	border: 0px;
	padding: 10px;
	margin-bottom: 10px;
	color: white;
    width: 300px;
	border-radius: 2px;
}

label {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #114B5F;
}

input:focus, textarea:focus {
    outline: none;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form {
    width: 430px;
>>>>>>> 92bbcbd2c2bcff86f99aa498bf753c4d9c0b7402
}