a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
body {
	background-color: #f1f1f1;
}
.banner-buttons {
	float: left;
	width: 50%;
	max-width: 100%;
	margin-top: 190px;
	margin-left: 32%;
}

.banner-image > img {
	float: left;
	background-size: cover;
	height: 100%;
	width: 50%;
    vertical-align: top;
}

.loginRegisterContainer
{
	height: auto;
	width: 50%;
	float: left;
}

.banner-image {
    position: relative;
    height: 434px;
	width: auto;
    -webkit-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
    -moz-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
	box-shadow: 0 4px 14px -4px gray;
	background-color: white;
}

.banner-image:after {
    content: '\A';
    position: absolute;
    height: 100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
}

.banner-right-register {
	float: left;
	display: none;
	padding-left: 12%;
	margin-top: -1%;
}
.banner-right-login {
	float: left;
	display:none;
	padding-top: 2%;
	padding-left: 13%;
}

.banner-right-title {
	margin-left: 122px;
	margin-bottom: 20px;
}

.banner-right-title > h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	color: black;
}

h1.login {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	padding-top: 28px;
	padding-bottom: 30px;
	margin-left: -30px;
}

h1.register {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	padding-top: 28px;
	padding-bottom: 30px;
	margin-left: -30px;
}

/* good so far */

.hide {
	display: none;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #888;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #888;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #888;
}

input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #888;
}
.invalid-credentials {
	color: black;
	margin-left: -30px;
	margin-top: -30px;
	padding: 8px 0px;
	font-size: 13px;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #114B5F;
}
#login {
	padding: 16px 0px;
	width: 150px;
	background-color: #161B33;
	color: white;
	font-size: 13px;
	border-radius: 4px;
	transition: 0.5s;
	text-align: center;
	display: inline-block;
}
#login:hover {
	opacity: 0.8;
}
#register {
	padding: 16px 0px;
	width: 150px;
	background-color: #DE0D92;
	color: white;
	font-size: 13px;
	border-radius: 4px;
	transition: 0.5s;
	text-align: center;
	display: inline-block;	
}
#register:hover {
	opacity: 0.8;
}
.login-button {
	float: right;
	padding: 8px 14px;
	margin-top: -20px;
	margin-right: 35px;
	border-radius: 1px;
	border: 0px;
	background-color: #114B5F;
	opacity: 0.6;
	color: white;
	transition: 0.5s;
}

.login-button:hover {
	background-color: #58818f;
	color: white;
	opacity: 0.3;
}

.login-left {
	float: left;
	padding-left: 10%;
	padding-top: 1%;
	width: 50%;
	background-color: white;
}

.login-left-title {
	margin-left: 122px;
	margin-bottom: 20px;
}

.login-left-title > h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	color: black;
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
}

input {
	background-color: transparent;
	border: 0px;
	padding: 0px 0px 4px 0px;
	border-bottom: 1px solid #58818f;
	margin-bottom: 24px;
	color: black;
    width: 300px;
	border-radius: 0px;
}

label {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #114B5F;
	font-size: 16px;
	margin-right: -30px;
	margin-top: 4px;
	/*vertical-align: bottom;*/
}

input:focus, textarea:focus {
    outline: none;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form {
    width: 430px;
}

.form-inputs {
	margin-top: -20px;
	margin-bottom: 20px;
}

@media screen and (min-width: 1200px) 
{
	.banner-image 
	{
    position: relative;
    height: 440px;
	width: auto;
    -webkit-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
    -moz-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
	box-shadow: 0 4px 14px -4px gray;
	}

}

@media only screen and (max-width: 1600px) {

	.banner-buttons {
		float: left;
		width: 50%;
		max-width: 100%;
		margin-top: 190px;
		margin-left: 28%;
	}

}

 @media only screen and (min-device-width: 1200px) and (max-device-width: 1400px) {
  
   
	.banner-image 
	{
	    position: relative;
	    height: 434px;
		width: auto;
	    -webkit-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
	    -moz-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
		box-shadow: 0 4px 14px -4px gray;
	}
}

 @media only screen and (min-device-width: 600px) and (max-device-width: 1200px)
 {
	.banner-image 
	{
	    position: relative;
	    height: 300px;
		width: auto;
	    -webkit-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
	    -moz-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
		box-shadow: 0 4px 14px -4px gray;
	}
}

@media only screen and (max-width: 600px)
{
	.banner-image > img
	{
		display: none !important;
	}
}

@media only screen and (min-device-width: 601px)
{
	.loginRegisterContainer
	{
		width: 50%;
	}
}

@media only screen and (max-width: 600px)
{
	.loginRegisterContainer
	{
		width: 100%;
	}
}

@media only screen and (max-width: 1308px) 
{
	#register 
	{
		margin-top: 10px;
		display: inline-block;
	}

	#login
	{
		display: inline-block;
	}

	.banner-buttons 
	{
	
		width: 50%;
		margin-top: 22%;
		margin-left: 24%;
		margin-bottom: 100px;
	}
}

@media only screen and (max-width: 426px) and (min-width: 300px)
{
	.banner-buttons 
	{
		width: 50%;
		margin-top: 22%;
		margin-left: 30%;
		margin-bottom: 100px;
	}

	.banner-image
	{
		width: 100%;
		height: 350px;
	}
}

/*427 - 600 needs more margin left */
@media only screen and (max-width: 427) and (min-width: 600)
{
	.banner-buttons 
		{
			width: 50%;
			margin-top: 22%;
			margin-left: 50%;
			margin-bottom: 100px;
		}
}


/* ISSUES --- FIGURE OUT A WAY TO FIX A PERCENTAGED WIDTH FOR TWO BUTTON LAYOUTS... SIDE BY SIDE AND STACKED ONTOP OF EACH OTHER*/
/*1315 - 2036 needs less margin left -- lower the percentage */
/*1309 - 1314 buttons over lap each other -- exapand the div container for the buttons and center*/
/*627 - 1308 needs more margin left*/
/*300 - 411 needs recentering less margin left */

/*3280 - 1300

@media only screen and (max-width: 3280) and (min-width: 1200px)
{
.banner-buttons {
	float: left;
	width: 50%;
	margin-top: 190px;
	margin-left: 20%;
}

}*/
/*
@media only screen and (min-device-width: 750px) and (max-width: 440px)
{
	.banner-buttons
	{
		margin-left: 35%;
		text-align: center;
	}
}

@media only screen and (min-width: 900px)
{
	.banner-buttons
	{
		margin-left: 40%;
		text-align: center;
	}
}*/