h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	padding-top: 28px;
	padding-bottom: 30px;
}

.banner-image > img {
	float: left;
	background-size: cover;
	height: 100%;
    vertical-align: top;
}

.banner-image {
    position: relative;
    height: 434px;
	width: auto;
    -webkit-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
    -moz-box-shadow: 0px 3px 17px 4px rgba(65,86,47,1);
	box-shadow: 0 4px 14px -4px gray;
}

.banner-image:after {
    content: '\A';
    position: absolute;
    height: 100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
}

.banner-right {
	float: left;
	padding-top: 1%;
	padding-left: 10%;
}

.banner-right-title {
	margin-left: 122px;
	margin-bottom: 20px;
}

.banner-right-title > h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 25px;
	color: black;
}

label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    color: #114B5F;

}

input {
	background-color: #114B5F;
	border: 0px;
	padding: 10px;
	margin-bottom: 10px;
	color: white;
    width: 300px;
	border-radius: 2px;
}

label {
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	color: #114B5F;
}

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

form {
    width: 500px;
}