a
{
	color: inherit;
}

a:hover
{
	color:inherit;
	text-decoration: none;
}

body, html {
    height: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

.userLeftControllPanel
{
	width: 20%;
	height: 1020px;
	float: left;
	padding: 2.5%;
	background-color: #114b5f;
}

.userLeftControllPanel-arrow
{
    display: none;
	width: 1px;
	height: 854px;
	float: left;
	background-color: white;
}

.userLeftControllPanel-sub-sections
{
	width: 100%;
	height: 40px;
	margin-bottom: 15%;
	border-bottom: 1px solid #285D6F;
}
.sub-section-text
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
	color: white;
	transition: 0.4s;
}

.sub-section-text:hover
{
	cursor: pointer;
	opacity: 0.6;
}

.firstControlPanel-sub-section
{
	margin-top: 32%;
}

.settings
{
	height: 30px;
	width: 30px;
    margin-top: 30%;
	background-size: cover;
	background-position: center center;
	background-image: url('/img/settings.png');
}

ul {list-style-type: none;}


#calendarContainer
{
	width: 80%;
	float: left;
    padding: 2% 4%;
    display: none;
}
/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #0B3442;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    margin-right: 10%;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    margin-left: 10%;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    padding: 28.43px;
    margin-bottom: 5px;
    font-size:15px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}



/*Modal Content*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% 15% 0% 39.5%; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 500px;
    border-radius: none;
}

.modal-content-div
{
    width: 90%;
    height: 60px;
    margin-bottom: 5%;
}

.create-event-input-container
{
    width: 70%;
    height: 300px;
    float: right;
    margin-right: 5%;
    margin-top: 12%;
    
}


::-webkit-input-placeholder 
{
    color: #114b5f;
    font-weight: bold;
    opacity: .7;
}

textarea
{
    resize: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-style: 1px solid;
    border-bottom-color: #114b5f;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hide {
	display: none;
}

.x {
	margin-top: -9%;
    margin-right: -17%;
    padding: 4px;
    background-color: white;
	float: right;
	color: #114B5F;
    display: none;
}

.x:hover {
    cursor: pointer;
}

#myEventsRight
{
    display: none;
    width: 26%;
    height: 670px;
    float: right;
    background-color: #ddd;
}

.x-right
{
    
    float: left;
    margin-left: 9px;
    margin-top: 9px;
    font-size: 14px;
    color: #000;
}

.userRightControllPanel
{
    width: 75%;
    height: 100%;
    float: left;
    display:none;
    padding: 2.5%;
    background-color: transparent;
}

.userRightControllPanel-sub-sections
{
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    border-bottom: 2px solid black;
}

.myEventsTitle
{
    margin-top: 21%;
    text-align: center;
}

.myEventsDate
{
    float:left;
    margin-bottom: 2px;
    border-bottom: none;

}

.myEventsTime
{
    float:left;
    margin-bottom: 2px;
   
}

.myEventsDescription
{
    width: 100%;
    height: auto;
}

.eventContainer
{
    background-color: #ddd;
    display: inline-block;
    width: 75%;
    height: auto;
}

/*.createEventContainer
{
    background-color: #ddd;
    display: inline-block;
    padding: 30px;
    text-align: center;
    border: 1px solid grey;
    background-color: white;
    width: 75%;
    margin-left: 12%;
    margin-top: 12%;
    height: 350px;
}
*/
.create-form-group
{
    width: 80%;
    display: inline-block;
    height: 200px;
}

.create-event-button {
    float: right;
    padding: 8px 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25%;
    margin-left: 50px;
    border-radius: 1px;
    border: 0px;
    width: 53%;
    background-color: #114B5F;
    opacity: 0.6;
    color: white;
    transition: 0.5s;
}

.create-event-button:hover {
    background-color: #58818f;
    color: white;
    opacity: 0.3;
}

input {
    background-color: transparent;
    border: 0px;
    padding: 0px 0px 4px 0px;
    border-bottom: 1px solid #58818f;
    margin-bottom: 24px;
    color: black;
    width: 83.5%;
    border-radius: 0px;
}

label 
{

    font-size: 20px;
    color: #114B5F;
    width: 30%;
}

.titleLabel
{
    width: 12%;
}


.dateInput
{
    background-color: transparent;
    border: 0px;
    padding: 0px 0px 4px 0px;
    border-bottom: 1px solid #58818f;
    margin-bottom: 24px;
    color: black;
    width: 70%;
    border-radius: 0px;
}

.loading {
    position: relative;
    top: 300px;
    left: 40%;
}

.navbar-profile-picture {
    border-radius: 50%;
    margin-bottom: 6%;
    
}

span.navbar-phone-number {
    font-family: 'Open Sans', sans-serif;
    color: whitesmoke;
    font-size: 16px;
    padding-left: 20px;
}

.fc-other-month .fc-day-number {
    display:none;
    border: 0px;
}

td.fc-day.fc-widget-content.fc-thu.fc-other-month.fc-future {
    border-right: 0px;
}
