a
{
	color: inherit;
}

a:hover
{
	color:inherit;
	text-decoration: none;
}

body {
    background-color: #ddd;
}

.userLeftControllPanel
{
	width: 20%;
	height: 854px;
	float: left;
	padding: 2.5%;
	background-color: #114b5f;
}

.userLeftControllPanel-arrow
{
    display: none;
	width: 1px;
	height: 854px;
	float: left;
	background-color: white;
}

.userLeftControllPanel-sub-sections
{
	width: 100%;
	height: 40px;
	margin-bottom: 15%;
	border-bottom: 1px solid #285D6F;
}
.sub-section-text
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
	color: white;
	transition: 0.4s;
}

.sub-section-text:hover
{
	cursor: pointer;
	opacity: 0.6;
}

.firstControlPanel-sub-section
{
	margin-top: 32%;
}

.settings
{
	height: 30px;
	width: 30px;
	margin-left: 90%;
	background-size: cover;
	background-position: center center;
	background-image: url('/img/settings.png');
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}



#calendarContainer
{
	width: 80%;
	height: auto;
	float: left;
    background-color: white;
    padding: 2%;
    /*display: inline-block;*/
	/*margin-left: 2%;*/
	/*margin-top: 2%;*/
}
/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #0B3442;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    margin-right: 10%;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    margin-left: 10%;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    padding: 28.43px;
    margin-bottom: 5px;
    font-size:15px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}



/*Modal Content*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 40%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.hide {
	display: none;
}

.x {
	margin-top: -9%;
	float: right;
	color: white;
}

.x:hover {
    cursor: pointer;
}

#myEventsRight
{

    display: none;
    width: 1%;
    /*margin-top: 2%;*/
    height: 670px;
    float: right;
    background-color: #ddd;
}

.x-right
{
    
    float: left;
    margin-left: 9px;
    margin-top: 9px;
    font-size: 14px;
    color: #000;
}

.userRightControllPanel
{
    width: 75%;
    height: 100%;
    float: left;
    /*margin-left: 8%;*/
    padding: 2.5%;
    background-color: transparent;
}

.userRightControllPanel-sub-sections
{
    width: 100%;
    height: auto;
    margin-bottom: 15%;
    border-bottom: 2px solid black;
}

.myEventsTitle
{
    margin-top: 21%;
    text-align: center;

}

.myEventsDate
{
    float:left;
    margin-bottom: 2px;
    border-bottom: none;

}

.myEventsTime
{
    float:left;
    margin-bottom: 2px;
   
}

.myEventsDescription
{
    width: 100%;
    height: auto;
}

.eventContainer
{
    background-color: #ddd;
    width: 75%;
    height: auto;
}

