#settingsMainContainer
{
  width: 80%;
  float: left;
  padding: 2% 4%;
}

.editFirstName
{
    display: none;
    float: right;
    width: 25%;
    height: 30px;
    border: none;
    background-color: #FFF;
}

.hide
{
    display: none;
}

#settingsMainContainer > div.editingRows.profilePicture > form > input
{
    background-color: #FFF;
}

#settingsMainContainer > div.editingRows.firstName > form > button
{
    float: right;
    margin-left: 1%;
    background-color: #FFF;
    border: none;
    display: none;
}

#settingsMainContainer > div.editingRows.firstName > form > button:hover
{
    background-color: #000;
    color: #FFF;
}

#settingsMainContainer > div.editingRows.email > form > button
{
    float: right;
    margin-left: 1%;
    background-color: #FFF;
    border: none;
    display: none;
}

#settingsMainContainer > div.editingRows.email > form > button:hover
{
    background-color: #000;
    color: #FFF;
}

#settingsMainContainer > div.editingRows.lastName > form > button
{
    float: right;
    margin-left: 1%;
    background-color: #FFF;
    border: none;
    display: none;
}

#settingsMainContainer > div.editingRows.lastName > form > button:hover
{
    background-color: #000;
    color: #FFF;
}

#settingsMainContainer > div.editingRows.phoneNumber > form > button
{
    float: right;
    margin-left: 1%;
    background-color: #FFF;
    border: none;
    display: none;
}

#settingsMainContainer > div.editingRows.phoneNumber > form > button:hover
{
    background-color: #000;
    color: #FFF;
}

.editLastName
{
    display: none;
    float: right;
    width: 25%;
    height: 30px;
    border: none;
    background-color: #FFF;
}

.editPhoneNumber
{
    display: none;
    float: right;
    width: 25%;
    height: 30px;
    border: none;
    background-color: #FFF;
}

.editEmail
{
    display: none;
    float: right;
    width: 25%;
    height: 30px;
    border: none;
    background-color: #FFF;
}

#settingsMainContainer > div.editingRows.phoneNumber > button
{
    float: right;
    margin-left: 1%;
    background-color: #FFF;
    border: none;
    display: none;
}

#settingsMainContainer > div.editingRows.phoneNumber > button:hover
{
    background-color: #000;
    color: #FFF;
}

.uploadProfilePic
{
    display:none;
    float: right;
    width: 25%;
    border: none;
    background-color: #FFF;
    height: 30px;
}

.uploadProfilePic:hover
{
    border-radius: 1px;
    background-color: #000;
    color: #FFF;
}

.profilePicUploadForm
{
    display: none;
}
.input
{

    width: 100px;
    height: 40px;
    display: inline-block;
    border: 1px solid black;
}

.editIcon
{
  width: 20px;
  height: 20px;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-0
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-1
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-2
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-3
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-4
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-5
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-6
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-7
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editEventsIcon-8
{
  width: 20px;
  height: 20px;
  display: none;
  margin-left: 1%;
  float: right;
  background-image: url('/img/editSettings.png');
  background-position: center center;
  background-size: cover; 
}

.editingRowsPicture
{
    display: none;
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

.profilePicture:hover
{
  background-color: #d6d6d6;
}

.firstName:hover
{
    background-color: #d6d6d6;
}

.lastName:hover
{
    background-color: #d6d6d6;
}

.phoneNumber:hover
{
    background-color: #d6d6d6;
}

.email:hover
{
    background-color: #d6d6d6;
}

.add-contact-btn {
  float: right;
  margin-top: -48px;
  background-color: #1b1e24;
  color: #f1f1f1;
  border-radius: 2px;
  border: 0px;
  padding: 14px;
  transition: 0.4s;
}
.add-contact-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.contact-form {
  display: none;
  width: 32%;
  float: left;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

input, label {
    display:block;
}

input#first_name, input#last_name, input#email, input#phone {
  float: left;
  width: 100%;
}

label {
  font-size: 17px;
  padding-bottom: 10px;
}

.submit-contact-btn {
  float: right;
  margin-top: 0px;
  margin-bottom: 20px;
  background-color: #1b1e24;
  color: #f1f1f1;
  border-radius: 2px;
  border: 0px;
  padding: 14px;
  transition: 0.4s;
}
.submit-contact-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.table-container {
  width: 100%;
  float: right;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 100%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:18px;
  font-weight: 100;
  padding:16px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background-color:#f1f1f1;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#f1f1f1;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:14px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.editingRows 
{
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  color: white;
  text-align: left;
}



th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  color: black;
  text-align: left;
}

td.text-left-manage-0 {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.editTitle-0 {
  display: none;
}

input.editDescription {
  border-bottom: none;
  margin-bottom: -6px;
}

.editDate-0 {
  display: none;
}

.editSent-0 {
  display: none;
}

.saveTitle-0 {
  display: none;
}

.saveDescription-0 {
  display: none;
}

.saveDate-0 {
  display: none;
}

.saveSent {
  background-color: #1B1E24;
  color: white;
  border: 0px;
  text-transform: lowercase;
  font-size: 14px;
  padding: 4px 10px;
  border-radius: 4px;
  transition: 0.4s;
}
.saveSent:hover {
  opacity: 0.7;
}

.editTitle-1 {
  display: none;
}

.editDescription-1 {
  display: none;
}

.editDate-1 {
  display: none;
}

.editSent-1 {
  display: none;
}

.saveTitle-1 {
  display: none;
}

.saveDescription-1 {
  display: none;
}

.saveDate-1 {
  display: none;
}

.saveSent-1 {
  display: none;
}

.editTitle-2 {
  display: none;
}

.editDescription-2 {
  display: none;
}

.editDate-2 {
  display: none;
}

.editSent-2 {
  display: none;
}

.saveTitle-2 {
  display: none;
}

.saveDescription-2 {
  display: none;
}

.saveDate-2 {
  display: none;
}

.saveSent-2 {
  display: none;
}

.editTitle-3 {
  display: none;
}

.editDescription-3 {
  display: none;
}

.editDate-3 {
  display: none;
}

.editSent-3 {
  display: none;
}

.saveTitle-3 {
  display: none;
}

.saveDescription-3 {
  display: none;
}

.saveDate-3 {
  display: none;
}

.saveSent-3 {
  display: none;
}

.editTitle-4 {
  display: none;
}

.editDescription-4 {
  display: none;
}

.editDate-4 {
  display: none;
}

.editSent-4 {
  display: none;
}

.saveTitle-4 {
  display: none;
}

.saveDescription-4 {
  display: none;
}

.saveDate-4 {
  display: none;
}

.saveSent-4 {
  display: none;
}

.editTitle-5 {
  display: none;
}

.editDescription-5 {
  display: none;
}

.editDate-5 {
  display: none;
}

.editSent-5 {
  display: none;
}

.saveTitle-5 {
  display: none;
}

.saveDescription-5 {
  display: none;
}

.saveDate-5 {
  display: none;
}

.saveSent-5 {
  display: none;
}

.editTitle-6 {
  display: none;
}

.editDescription-6 {
  display: none;
}

.editDate-6 {
  display: none;
}

.editSent-6 {
  display: none;
}

.saveTitle-6 {
  display: none;
}

.saveDescription-6 {
  display: none;
}

.saveDate-6 {
  display: none;
}

.saveSent-6 {
  display: none;
}

.editTitle-7 {
  display: none;
}

.editDescription-7 {
  display: none;
}

.editDate-7 {
  display: none;
}

.editSent-7 {
  display: none;
}

.saveTitle-7 {
  display: none;
}

.saveDescription-7 {
  display: none;
}

.saveDate-7 {
  display: none;
}

.saveSent-7 {
  display: none;
}

.editTitle-8 {
  display: none;
}

.editDescription-8 {
  display: none;
}

.editDate-8 {
  display: none;
}

.editSent-8 {
  display: none;
}

.saveTitle-8 {
  display: none;
}

.saveDescription-8 {
  display: none;
}

.saveDate-8 {
  display: none;
}

.saveSent-8 {
  display: none;
}

.editTitle-9 {
  display: none;
}

.editDescription-9 {
  display: none;
}

.editDate-9 {
  display: none;
}

.editSent-9 {
  display: none;
}

.saveTitle-9 {
  display: none;
}

.saveDescription-9 {
  display: none;
}

.saveDate-9 {
  display: none;
}

.saveSent-9 {
  display: none;
}

input.hidden {
    position: absolute;
    left: -9999px;
}

#settingsMainContainer > div.editingRows.profilePicture > input
{
  background-color: white;
 
  display: none;
}
